<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower ML App by ptyadana</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		body{
			background-image: url('https://static.vecteezy.com/system/resources/previews/000/146/683/large_2x/vector-iris-flower-background.jpg');
		}
	</style>
</head>
<body>
	<div class="container p-5">
		<div class=''>
            <h1 class="">Welcome to Iris Flower Prediction ML App</h1>
            <p class="">Simple, yet useful app which allows to analyze Iris flower species!</p>
        </div>
	<div class='row justify-content-center mt-4'>
        <div class='col-12 col-md-6'>
            <form method="post" id='form' class='p-3 rounded-start rounded-3 border border-dark'>
                {# This hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>Sepal Length</label>
                    {{form.sepal_length}}
                </div>
                <div class="form-group">
                    <label>Sepal Width</label>
                    {{form.sepal_width}}
                </div>
                <div class="form-group">
                    <label>Petal Length</label>
                    {{form.petal_length}}
                </div>
                <div class="form-group">
                    <label>Petal Width</label>
                    {{form.petal_width}}
                </div>
                <button type="submit" class="btn btn-primary" name="create">Analyze</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
